@import "bootstrap-sprockets";
@import "bootstrap";

/* courses */

.show-course{
  background: rgba(0, 255, 255, 0.233);
  h1{color: rgba(255, 38, 0, 0.842);
    font-size: 5pm; 
    text-align: center; }
}